<h1><%= @question.quiz.title %></h1>
<p>
  <%= @question.body %>
</p>

<%= link_to 'Add Answer', new_question_answer_path(@question) %>

<h2>Answers:</h2>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', quiz_path(@question.quiz) %>
