<li style="margin-bottom: 0.5em">
  Category: <%= quiz.category.title %>, <%= quiz.title %> level: <%= quiz.level %>, questions: <%= quiz.questions.count %>
  <%= button_to 'Start', start_quiz_path(quiz) %>
  <br>
</li>
