<%= form_with url: sessions_path, local: true do |f| %>
  <div class="flash-wrapper">
    <% if flash[:alert] %>
      <%= content_tag :p, flash[:alert], class: 'flash alert' %>
    <% end %>
  </div>

  <p>
    <%= f.label :email %>
    <br>
    <%= f.text_field :email, id: :user_email %>
  </p>

  <p>
    <%= f.label :password %>
    <br>
    <%= f.password_field :password, id: :user_password %>
  </p>

  <p>
    <%= f.submit 'Log In' %>
  </p>
<% end %>
