<tr>
  <td><%= quiz.category.title %></td>
  <td><%= quiz.title %></td>
  <td><%= quiz.level %></td>
  <td><%= quiz.questions_count %></td>
  <td>
    <%= link_to t('show'), admin_quiz_path(quiz) %> |
    <%= link_to t('remove'), admin_quiz_path(quiz), method: :delete %>
  </td>
</tr>
