<p>
  <strong><%= t('.quiz') %>:</strong>
  <%= @quiz.title %>
</p>
<table>
  <thead>
    <tr>
      <th><%= t('.questions') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @quiz.questions.each do |question| %>
      <%#= render question %>
    <%# end %>
    <%= render @quiz.questions %>
  </tbody>
</table>


<%= link_to t('.back'), admin_quizzes_path %> | 
<%= link_to t('.edit'), edit_admin_quiz_path %> |
<%= link_to t('.add'), new_admin_quiz_question_path(@quiz) %>
