<h1><%= t('.header') %></h1>
<p>
  <%= @answer.question.body %>
</p>
<p>
  <b><%= t('.subheader') %></b>
  <%= @answer.body %>
</p>
<%= link_to t('edit'), edit_admin_answer_path(@answer) %> |
<%= link_to t('back'), admin_question_path(@answer.question) %>
