<h1>
  <%= question_header(@quiz || @quiz_for_header, question) %>
</h1>

<%= form_with model: [:admin, @quiz, question] do |form| %> 
  <%= render 'shared/errors', resource: question %>
  <p>
    <%= form.label :body %> 
    <br>
    <%= form.text_area :body, cols: 30, rows: 10 %>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<br />
