<h1><%= t('.header', title: @taken_quiz.quiz.title) %></h1>
<h2><%= t('.result') %> <span class="<%= passage_percentage_class(@taken_quiz) %>"><%= @taken_quiz.success_percentage %>%</span></h2>
<p>
  <%= link_to t('back'), quizzes_path %>
</p>
