<h1>Passing the <%= @taken_quiz.quiz.title %> quiz</h1>

<p>
  <%= @taken_quiz.current_question.body %>
</p>

<%= form_with url: quiz_passage_path(@taken_quiz), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @taken_quiz.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>
  <p>
    <%= form.submit 'Next' %>
  </p>
<% end %>